*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: #7a7a7a;
}

.areaPrincipal { /*así se define una clase*/
    background-image: url("../img/fondoo.jpg"); /*agregar fondo de imagen al div*/
    background-repeat: no-repeat; /*permitir o no que se repita una imagen*/
    width: 100%;
    height: auto;
    opacity: 0.7; /*opacidad de la imagen*/
    -webkit-background-size: 100% 100%;
    /*Safari 3.0*/
    -moz-background-size: 100% 100%;
    /*gecko 1.9.2 (Firefox 3.6)*/
    -o-background-size: 100% 100%;
    /*Opera 9.5*/
    background-size: 100% 100%;
     /*gecko 2.0 (Firefox 4.0) and other C553-compliant browsers */
    
}

#encabezado {

    background: #dae94f;
    height: 240px;
    text-align: center;
    background-image: url("../img/logoo.jpg");
    background-repeat: no-repeat;
    background-size: 180px 180px;
}

.piePagina {

    width: 100%; /*ancho*/
    height: 100px; /*alto*/
    background: #15101b; /*color de fondo*/
    color: white; /*color de letra dentro de la clase*/
    bottom: 0; /*espacio de separacion parte inferior*/
    position: fixed;
    left: 0; /*alineacion de contenidos izquierda*/
}

#menu{ /*identificador*/
    height: 40px;
    position: relative;
    top: 200px;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #5e4fe9;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover{
    background-color: #4f5ee9;
}

#datos{
    width: 80%;
    background-color: #88e94f;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: #2a3e55;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}